<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<h1> 수정 게시판 </h1>
<p>글을 수정해주세요</p>


<form action="/posts/update"  class="action">
  제목 : <input type="text" name="title" value=<%= @post.title %>/><br />
  내용 : <textarea name="body"> <%= @post.body %></textarea><br />
        <input type="submit" value="뿅!" />
        <input type="hidden" name="id" value= "<%= @post.id %>"/><br />
</form>
