<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1> 게시판 </h1>
<p>글을 써주세요</p>
<form action="/posts/create"  class="action">
  제목 : <input type="text" name="title"/><br />
  내용 : <textarea name="body"> </textarea><br />
  <input type="submit" value="뿅!" />
<%=post.id %>
</form>
